
@{
    ViewData["Title"] = "Formulario de Usuario";
}

<h2>Formulario de Usuario</h2>

<form action="Inscripcion/Usuario" method="post">
    <label>Nombre:</label>
    <input type="text" name="nombre" required />
    <br />
    <label>Fecha de nacimiento:</label>
    <input type="date" name="fechaNacimiento" required />
    <br />
    <button type="submit">Enviar</button>
</form>